.wrap-button-text {
    height: max-content;
    white-space: inherit;
}

img {
    max-height:200px;
    max-width:200px;
    height:auto;
    width:auto;
}

link  {
    text-decoration: none;
    color:black;
}

.video-container  {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }

.video-container iframe  {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #logMeal  {
    height: 400px;
  }

  #mealRecipe  {
      height: 400px;
  }

  #logDrink  {
      height: 400px;
  }

  #drinkRecipe  {
      height: 400px;
  }
  